<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pencil & Paper Tutoring</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag '48x48.png' %>
    <meta property="og:title" content="Pencil & Paper Tutoring">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pencilandpapertutoring.com/">
    <meta property="og:image" content="<%= asset_url 'shutterstock.png' %>">
    <meta property="og:description" content="Pencil & Paper Tutoring">
  </head>
  <body>

    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
